@font-face {
    font-family: revamped;
    src: url('../fnt/Revamped.otf') format(opentype),
}
@font-face {
    font-family: sunflower;
    src: url('../fnt/MADESunflower_PERSONAL_USE.otf') format(opentype),
}
@font-face {
    font-family: golden pepper;
    src: url('../fnt/Golden_Pepper_Demo.ttf') format(truetype);
}
@font-face {
    font-family: american captain;
    src: url('../fnt/American_Captain.ttf') format(truetype);
}
@font-face {
    font-family: canbera;
    src: url('../fnt/Canbera.ttf') format(truetype);
}
@font-face {
    font-family: absend;
    src: url('../fnt/absender1.ttf') format(truetype);
}
@font-face {
    font-family: mont;
    src: url('../fnt/Mont-HeavyDEMO.otf') format(opentype),
        url('../fnt/Mont-ExtraLightDEMO.otf') format(opentype);
}
@font-face {
    font-family: stretch pro;
    src: url('../fnt/StretchPro.otf') format(opentype);
}
@font-face {
    font-family: coolvetica, coolvetica cond, coolvetica cram, coolvetica rgit, coolvetica rg;
    src: url('../fnt/coolvetica-compressed-hv.otf') format(opentype),
    url('../fnt/coolvetica-condensed-rg.otf') format(opentype),
    url('../fnt/coolvetica-crammed-rg.otf') format(opentype),
    url('../fnt/coolvetica-rg-it.otf') format(opentype),
    url('../fnt/coolvetica-rg.otf') format(opentype);
}
@font-face {
    font-family: akira;
    src: url('../fnt/AkiraExpandedDemo.otf') format(opentype);
}
@font-face {
    font-family: hundin;
    src: url('../fnt/HunDIN1451.ttf') format(truetype);
}
@font-face {
    font-family: makisupa;
    src: url('../fnt/MAKISUPA.TTF') format(truetype);
}