    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thriftlemore | Login</title>
        <link rel="icon" type="svg" href="../static/icon/logo-smile-red.svg" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" />
        <link rel="stylesheet" type="text/css" href="../static/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/animations.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <script src="https://kit.fontawesome.com/f65ce6ab07.js" crossorigin="anonymous"></script>
        <script src="../static/script/refresh.js"></script>
    </head>
    <nav class="breadcrumb is-centered box" style="font-family: coolvetica; letter-spacing: 1px;" aria-label="breadcrumbs">
        <ul>
        <li>
            <a href="/" aria-current="page">Home</a>
        </li>
        <li class="is-active">
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/login">Register</a>
        </li>
        </ul>
    </nav>
    <body>
        <!-- title -->
        <div class="p-4 has-text-centered has-background-danger-dark has-text-black pb-3">
        <div style="font-family: mont, coolvetica, Helvetica, Arial, sans-serif; letter-spacing: 1px;"></div>;" class="display-1 is-italic d-flex justify-content-center" id="title" onmousedown="refresh()" onmouseup="reset()">
            ThriftleMore<div class="logo mx-2">
            <img src="../static/icon/thriftlo.svg" width="70px" id="logo" />
            </div>
        </div>
        </div>

    <div class="container py-4 d-flex">
        <!-- register form -->
        <form class="container box m-4" action="/create/user" method="POST">
            <!-- Flash Messages -->
            <div class="message is-danger mx-auto text-center">
                {% with messages = get_flashed_messages(category_filter=["register"]) %}
                {% if messages %}
                {% for message in messages %}
                <ul>
                    <li class="message-header">Registration Error!</li>
                    <li class="message-body">{{ message }}</p>
                </ul>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="field">
                <label class="label">First Name</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="first name" name="first_name" />
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </p>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="last name" name="last_name" />
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </p>
            </div>
            <div class="field">
                <label class="label">Date of Birth</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" type="date" placeholder="" name="date_of_birth" />
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </p>
            </div>
            <div class="field">
                <label class="label">Username</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Username" name="username" />
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </p>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" name="email" />
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </p>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" name="password"/>
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </p>
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Confirm Password" name="confirm_password"/>
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                </p>
            </div>

            <div class="field">
            <p class="control">
                <button class="button is-danger" style="font-family: coolvetica; letter-spacing: 1px;">Register</button>
            </p>
            </div>
        </form>
        
        <!-- login form -->
        <form class="container box m-4" action="/login/user" method="POST">
            <!-- Flash Messages -->
            <div class="message is-danger mx-auto text-center">
                {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% if messages %}
                {% for message in messages %}
                <ul>
                    <li class="message-header">Login Error!</li>
                    <li class="message-body">{{ message }}</p>
                </ul>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="field">
                <label class="label">Email</label>
                <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" name="email"/>
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </p>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" name="password"/>
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </p>
            </div>

            <div class="field is-align-self-flex-end">
                <p class="control">
                    <button class="button is-danger" style="font-family: coolvetica; letter-spacing: 1px;">Login</button>
                </p>
                </div>
        </form>
    </div>

    </body>
    </html>
